In [ ]:
#, Calculate the sum, difference, product, and quotient of two numbers.

In [17]:
a = 20
b = 10
c = a + b
d = a - b
e = a * b
f = a / b
print(c)
print(d)
print(e)
print(f)

30
10
200
2.0

In [27]:
#Perform various assignment operations on a variable

x = 10
print("Initial x:", x)

x += 5
print("After += 5:", x)

x -= 3
print("After -= 3:", x)

x *= 2
print("After *= 2:", x)

x /= 4
print("After /= 4:", x)

x //= 2
print("After //= 2:", x)

x %= 2
print("After %= 2:", x)

x **= 3
print("After **= 3:", x)

Initial x: 10
After += 5: 15
After -= 3: 12
After *= 2: 24
After /= 4: 6.0
After //= 2: 3.0
After %= 2: 1.0
After **= 3: 1.0

In [29]:
# Compare two numbers and print the results

num1 = 10
num2 = 5

# Compare using various operators and print the results
print(f"{num1} == {num2}: {num1 == num2}")  # Equal to
print(f"{num1} != {num2}: {num1 != num2}")  # Not equal to
print(f"{num1} > {num2}: {num1 > num2}")    # Greater than
print(f"{num1} < {num2}: {num1 < num2}")    # Less than
print(f"{num1} >= {num2}: {num1 >= num2}")  # Greater than or equal to
print(f"{num1} <= {num2}: {num1 <= num2}")  # Less than or equal to

10 == 5: False
10 != 5: True
10 > 5: True
10 < 5: False
10 >= 5: True
10 <= 5: False

In [31]:
# Check conditions using logical operators.

num1 = 10
num2 = 5
num3 = 20

# Using AND (both conditions must be true)
print(f"(num1 > num2) and (num2 < num3): {(num1 > num2) and (num2 < num3)}")  # True if both are True

# Using OR (at least one condition must be true)
print(f"(num1 < num2) or (num2 < num3): {(num1 < num2) or (num2 < num3)}")  # True if any is True

# Using NOT (inverts the condition)
print(f"not (num1 == num2): {not (num1 == num2)}")  # True if num1 is not equal to num2

(num1 > num2) and (num2 < num3): True
(num1 < num2) or (num2 < num3): True
not (num1 == num2): True

In [33]:
#Check the identity of variables.
a = [1, 2, 3]
b = a
c = [1, 2, 3]

# Check identity using 'is'
print(f"a is b: {a is b}")  # True, since both 'a' and 'b' refer to the same object

# Check identity using 'is not'
print(f"a is not c: {a is not c}")  # True, since 'a' and 'c' are two different objects, even though their values are the same

a is b: True
a is not c: True

In [35]:
# Use unary operators to change the sign of a number.
a = 10
b = -20
num1 = -a
num2 = -b
print(num1)
print(num2)

-10
20

In [37]:
#Use the ternary operator to assign values based on conditions.

a = 10
b = 5

# Use the ternary operator to assign a value based on a condition
result = "a is greater" if a > b else "b is greater or equal"
print(result)

a is greater